## Homework-10 - Network analysis of contacts in infectious disease

Ziying Wang

### Imports and Data

In [67]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [68]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

/var/folders/tn/1rpmlfx112j95v9ws4cxqb8c0000gn/T/ipykernel_15810/497376691.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

In [69]:
df = pd.read_csv("ia-infect-dublin.csv",header=None, )
df.columns=['Nodes','Edges']
df

      Nodes  Edges
0     6      3
1     7      2
2     9      5
3     11     8
4     12     7
...   ..    ..
2760  410    304
2761  410    343
2762  410    351
2763  410    362
2764  410    380

[2765 rows x 2 columns]

### Question 1: Count of all direct contacts of person with id = 1 (Hint: check for person id in both columns)

In [70]:
# by nodes
df_q1_nodes = df.groupby(["Nodes"])
df_q1_nodes = df_q1_nodes.agg({'Edges' : 'count'})
df_q1_nodes

       Edges
Nodes
6      1
7      1
9      1
11     1
12     1
...   ..
406    14
407    2
408    23
409    5
410    31

[372 rows x 1 columns]

In [49]:
# by edges
df_q1_edges = df.groupby(["Edges"])
df_q1_edges = df_q1_edges.agg({'Nodes' : 'count'})
df_q1_edges

       Nodes
Edges
1         24
2         26
3         23
4          7
5         19
...      ...
381        1
383        1
384        1
386        2
392        1

[355 rows x 1 columns]

By looking at both Nodes and Edges column, we find that only Edges column contains direct contact with person ID = 1, which the count is **24**

### Question 2: Degree Frequency Table: Degree = number of edges from each node - Print a table - rows for each node with number of edges originating from that node.

In [71]:
# displaying the DataFrame
print(tabulate(df_q1_nodes, headers = 'keys', tablefmt = 'psql'))

+---------+---------+
|   Nodes |   Edges |
|---------+---------|
|       6 |       1 |
|       7 |       1 |
|       9 |       1 |
|      11 |       1 |
|      12 |       1 |
|      13 |       1 |
|      14 |       3 |
|      21 |       1 |
|      22 |       1 |
|      28 |       1 |
|      29 |       2 |
|      30 |       3 |
|      31 |       1 |
|      32 |       1 |
|      35 |       1 |
|      37 |       5 |
|      38 |       1 |
|      39 |       1 |
|      40 |       2 |
|      41 |       2 |
|      43 |       3 |
|      45 |       1 |
|      49 |       3 |
|      50 |       1 |
|      51 |       3 |
|      54 |       5 |
|      55 |       2 |
|      56 |       1 |
|      57 |       3 |
|      58 |       3 |
|      59 |       1 |
|      60 |       4 |
|      61 |       3 |
|      62 |       1 |
|      63 |       4 |
|      64 |       6 |
|      65 |       2 |
|      67 |       2 |
|      68 |       2 |
|      70 |       1 |
|      71 |       1 |
|      72 |       1 |
|      73 |       3 |
|      74 |       2 |
|      75 |       3 |
|      76 |       4 |
|      78 |       5 |
|      79 |       6 |
|      80 |       1 |
|      81 |       1 |
|      82 |       3 |
|      83 |       3 |
|      84 |       2 |
|      85 |       4 |
|      86 |       2 |
|      87 |       1 |
|      89 |       3 |
|      90 |       8 |
|      91 |       2 |
|      92 |       2 |
|      94 |       4 |
|      95 |       1 |
|      96 |       5 |
|      97 |       7 |
|      98 |       4 |
|      99 |       3 |
|     100 |       2 |
|     102 |       3 |
|     103 |       2 |
|     104 |       6 |
|     105 |       6 |
|     106 |       2 |
|     107 |       2 |
|     108 |       2 |
|     109 |       1 |
|     110 |       4 |
|     111 |       3 |
|     112 |       3 |
|     113 |       4 |
|     114 |       5 |
|     115 |       1 |
|     116 |       8 |
|     117 |       1 |
|     118 |       6 |
|     119 |       2 |
|     120 |       6 |
|     121 |       5 |
|     122 |       1 |
|     123 |       1 |
|     124 |       5 |
|     125 |       8 |
|     126 |       7 |
|     127 |       2 |
|     128 |       3 |
|     129 |       2 |
|     130 |       5 |
|     131 |       3 |
|     132 |       6 |
|     133 |       4 |
|     134 |       1 |
|     135 |       3 |
|     136 |       1 |
|     137 |       4 |
|     138 |       1 |
|     139 |       5 |
|     140 |       7 |
|     141 |       1 |
|     142 |       2 |
|     143 |       2 |
|     144 |       8 |
|     145 |       4 |
|     146 |       2 |
|     147 |       3 |
|     148 |      11 |
|     149 |       9 |
|     150 |      10 |
|     151 |       3 |
|     152 |       4 |
|     153 |       1 |
|     154 |       5 |
|     155 |       7 |
|     156 |       6 |
|     157 |      25 |
|     158 |       2 |
|     159 |       5 |
|     160 |       1 |
|     161 |       1 |
|     162 |       8 |
|     163 |      10 |
|     164 |       1 |
|     165 |       4 |
|     166 |       4 |
|     168 |       5 |
|     169 |       4 |
|     170 |       5 |
|     172 |       6 |
|     173 |      10 |
|     174 |       6 |
|     175 |       2 |
|     176 |       9 |
|     177 |       5 |
|     178 |      11 |
|     179 |       6 |
|     180 |       8 |
|     181 |       4 |
|     182 |       8 |
|     183 |       5 |
|     184 |       6 |
|     185 |       9 |
|     186 |       7 |
|     187 |       4 |
|     188 |       6 |
|     189 |       6 |
|     190 |       1 |
|     191 |       3 |
|     192 |       9 |
|     193 |       7 |
|     194 |       3 |
|     195 |       6 |
|     196 |       8 |
|     197 |       5 |
|     198 |       4 |
|     199 |       1 |
|     200 |       8 |
|     201 |       8 |
|     202 |       5 |
|     204 |       8 |
|     205 |      13 |
|     206 |       5 |
|     207 |       4 |
|     208 |      11 |
|     209 |       6 |
|     210 |      16 |
|     211 |       7 |
|     212 |      10 |
|     213 |       9 |
|     214 |       7 |
|     215 |       3 |
|     216 |      10 |
|     217 |      20 |
|     218 |      14 |
|     219 |       1 |
|     220 |       6 |
|     221 |       6 |
|     222 |      18 |
|     223 |      12 |
|     224 |       5 |
|     225 |      15 |
|     226 |      14 |
|     227 |       9 |
|     228 |      15 |
|     229 |       7 |
|     230 |       4 |
|     231 |      14 |
|     232 |      10 |
|     233 |       9 |
|     234 |       6 |
|     235 |      12 |
|     236 |      18 |
|     237 |      11 |
|     238 |       4 |
|     239 |      16 |
|     240 |      11 |
|     241 |       8 |
|     242 |      10 |
|     243 |      15 |
|     244 |       8 |
|     245 |       8 |
|     246 |       6 |
|     248 |       2 |
|     249 |       6 |
|     250 |       1 |
|     251 |       9 |
|     252 |       8 |
|     253 |       9 |
|     254 |       7 |
|     255 |      17 |
|     256 |       5 |
|     257 |       5 |
|     258 |       6 |
|     259 |       6 |
|     260 |       4 |
|     261 |      13 |
|     262 |      17 |
|     263 |       4 |
|     264 |       2 |
|     265 |       1 |
|     266 |      16 |
|     267 |       2 |
|     268 |       3 |
|     269 |       1 |
|     270 |      15 |
|     271 |      19 |
|     272 |       2 |
|     273 |      11 |
|     274 |      21 |
|     275 |      16 |
|     276 |       7 |
|     277 |      16 |
|     278 |      19 |
|     279 |       7 |
|     280 |       4 |
|     281 |       4 |
|     282 |      22 |
|     283 |      16 |
|     284 |      10 |
|     285 |      12 |
|     286 |      24 |
|     287 |      11 |
|     288 |      16 |
|     289 |       2 |
|     290 |       7 |
|     291 |      24 |
|     292 |       8 |
|     293 |      15 |
|     294 |       5 |
|     295 |       4 |
|     296 |       8 |
|     297 |      10 |
|     298 |       9 |
|     299 |       2 |
|     300 |      17 |
|     301 |       2 |
|     302 |      14 |
|     303 |       4 |
|     304 |      34 |
|     305 |      23 |
|     306 |      10 |
|     307 |      11 |
|     308 |       1 |
|     309 |       1 |
|     310 |      14 |
|     311 |       6 |
|     312 |      10 |
|     313 |       2 |
|     314 |      29 |
|     315 |      13 |
|     316 |       7 |
|     317 |       4 |
|     318 |      27 |
|     319 |      12 |
|     320 |      14 |
|     321 |       7 |
|     322 |       2 |
|     323 |      14 |
|     324 |       1 |
|     325 |      13 |
|     326 |      11 |
|     327 |       2 |
|     328 |      13 |
|     329 |       5 |
|     330 |       7 |
|     331 |       2 |
|     332 |       8 |
|     333 |      29 |
|     334 |       7 |
|     335 |      18 |
|     336 |      14 |
|     337 |      22 |
|     338 |       4 |
|     339 |       5 |
|     340 |       5 |
|     341 |       1 |
|     342 |      19 |
|     343 |      20 |
|     344 |       4 |
|     345 |       1 |
|     346 |       6 |
|     347 |      12 |
|     348 |      14 |
|     349 |      15 |
|     350 |       4 |
|     351 |       6 |
|     352 |       5 |
|     353 |       7 |
|     354 |      14 |
|     355 |       7 |
|     356 |      13 |
|     357 |      23 |
|     358 |       7 |
|     359 |      13 |
|     360 |       5 |
|     361 |      12 |
|     362 |      25 |
|     363 |       2 |
|     364 |      13 |
|     365 |      14 |
|     366 |      25 |
|     367 |       7 |
|     368 |       3 |
|     369 |      17 |
|     370 |      21 |
|     371 |       4 |
|     372 |      42 |
|     373 |       8 |
|     374 |       7 |
|     375 |       9 |
|     376 |      10 |
|     377 |      15 |
|     378 |      12 |
|     379 |      13 |
|     380 |      25 |
|     381 |      15 |
|     382 |       5 |
|     383 |       9 |
|     384 |      11 |
|     385 |       5 |
|     386 |      12 |
|     387 |       6 |
|     388 |       9 |
|     389 |       8 |
|     390 |       6 |
|     391 |       8 |
|     392 |      12 |
|     393 |       9 |
|     394 |       5 |
|     395 |       4 |
|     396 |       5 |
|     397 |      13 |
|     398 |      16 |
|     399 |      11 |
|     400 |       2 |
|     401 |       4 |
|     402 |      15 |
|     403 |       2 |
|     404 |      15 |
|     405 |       3 |
|     406 |      14 |
|     407 |       2 |
|     408 |      23 |
|     409 |       5 |
|     410 |      31 |
+---------+---------+

### Question 3: Path Calculation: For person_id = 1, list all person_ids that are connected only after 1 intermediate person.

The idea to solve this questions has three main steps:
1. find all the direct connections for person_id=1
2. find all the direct connection from results in step 1 (which these are indirect connections of person_id=1)
3. filter out all nodes that exists in both step 1 and 2

In [87]:
# utility function to find all direct connects with given dataframe and given id
def find_direct(input_df, id):
    # find direct connections based on person_id=1
    direct_connection = input_df[(input_df==id).any(axis=1)]
    # merge two rows
    direct_connection = pd.concat([direct_connection['Nodes'], direct_connection['Edges']])
    # sort the connections
    direct_connection = direct_connection.sort_values()
    # remove duplicates
    direct_connection = direct_connection.unique()
    
    return direct_connection

In [90]:
# make a dataframe for question 3
df_q3_output = pd.DataFrame(columns=['Direct Connection', 'Indirect Connections'])
df_q3_output

Empty DataFrame
Columns: [Direct Connection, Indirect Connections]
Index: []

In [92]:
# find all direct connections for person_id = 1
direct = find_direct(df, 1)
direct

array([  1,  14,  30,  63,  78,  83,  97, 120, 125, 130, 144, 157, 174,
       185, 196, 210, 240, 274, 293, 305, 318, 328, 333, 342, 361])

In [93]:
#loop thru to find all indirect connections
for id in direct:
    # filter out all id=1 cases
    if id == 1:
        continue
    # find all direct-direct connections
    indirect = find_direct(df, id)
    # filter out all the duplicates
    indirect = indirect[~np.isin(indirect, direct)]
    # append to dataframe
    df_q3_output.loc[len(df_q3_output)] = [id, indirect]

In [94]:
df_q3_output

    Direct Connection                                                                                                                                                                               Indirect Connections
0   14                 [3, 5, 37, 41, 54, 90, 129, 139, 172, 225, 241, 258, 262, 301, 307, 319, 398, 401]
1   30                 [5, 27, 38, 105, 132, 135, 150, 233, 243, 285, 297, 322, 326, 337, 364, 400]
2   63                 [8, 34, 36, 67, 94, 121, 148, 154, 162, 178, 181, 192, 228, 255, 271, 347, 354, 357]
3   78                 [5, 21, 44, 58, 85, 105, 173, 233, 349, 358, 364, 369]
4   83                 [38, 60, 112, 150, 220, 285, 308, 337, 358]
5   97                 [5, 21, 58, 85, 105, 132, 173, 364]
6   120                [47, 53, 60, 91, 111, 168, 177, 180, 213, 237, 259, 261, 266, 288, 300, 314, 323]
7   125                [23, 36, 53, 60, 91, 111, 114, 140, 189, 205, 231, 300, 314, 337, 348, 388, 408]
8   130                [60, 91, 140, 205, 231, 300, 348, 370, 408]
9   144                [5, 21, 58, 105, 150, 173, 206, 261, 326, 337, 364, 402]
10  157                [3, 5, 9, 21, 22, 38, 42, 44, 49, 71, 87, 91, 92, 94, 109, 111, 119, 128, 140, 145, 150, 179, 181, 191, 205, 206, 207, 209, 214, 236, 245, 249, 280, 287, 288, 294, 309, 312, 353, 373, 391, 398]
11  174                [20, 21, 73, 81, 162, 238, 284, 292, 314, 315, 370]
12  185                [23, 53, 60, 91, 114, 140, 205, 231, 300, 314, 348, 388, 408]
13  196                [13, 54, 105]
14  210                [47, 60, 91, 111, 114, 147, 168, 177, 180, 189, 205, 213, 217, 231, 237, 261, 266, 288, 300, 314, 323, 348, 392, 408]
15  240                [5, 38, 44, 128, 150, 173, 206, 337, 358]
16  274                [2, 38, 39, 73, 122, 132, 135, 142, 150, 161, 193, 200, 216, 239, 243, 259, 282, 283, 304, 306, 314, 337, 400, 404]
17  293                [21, 41, 58, 105, 173, 191, 206, 233, 272, 285, 319, 364]
18  305                [36, 53, 60, 67, 114, 132, 150, 181, 205, 231, 233, 234, 238, 261, 288, 292, 297, 300, 326, 337, 348, 408]
19  318                [5, 9, 21, 58, 85, 90, 105, 109, 126, 139, 150, 163, 173, 206, 225, 233, 266, 277, 314, 335, 337, 364, 402]
20  328                [67, 121, 148, 162, 178, 184, 192, 228, 243, 255, 297, 354, 357, 372]
21  333                [3, 5, 28, 36, 44, 92, 105, 114, 140, 179, 191, 205, 206, 207, 231, 265, 288, 300, 309, 312, 326, 340, 373, 403, 408]
22  342                [5, 13, 21, 58, 85, 105, 173, 206, 207, 233, 277, 364, 369]
23  361                [73, 90, 98, 135, 148, 163, 191, 206, 292, 314, 354, 369]